{% extends 'interface/base.html' %}

{% load staticfiles %}

{% block content %}

<a href="logout" id="dialog_link" class="btn btn-info"> Logout </a>

<div id="loan_application_table"></div>

<div id="loan_application_details"></div>

<script src="{% static 'js/compiled/dashboard.js' %}"></script>
{% endblock %}

interface_address

