{% extends 'interface/base.html' %}

{% block content %}

<div style="height: 50px"></div>

<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
    <header>
        <h2>Squirrel Loan and Credit Analyst</h2>
    </header>

    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">
            <form method="POST" action="/verify_login" id="smart-form-register" class="smart-form">
                {% csrf_token %}
                <header>
                    Login details
                </header>
                <fieldset>
                    <section>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                            <input type="text" id="username" name="username" placeholder="username" required>
                            <b class="tooltip tooltip-bottom-right">Needed to enter your email address</b> </label>
                    </section>

                    <section>
                        <label class="input"> <i class="icon-append fa fa-lock"></i>
                            <input type="password" id="password" name="password" placeholder="password" required>
                            <b class="tooltip tooltip-bottom-right">Needed to enter your password</b> </label>
                    </section>
                </fieldset>
                <footer>

                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>

                </footer>
            </form>

        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>

{% endblock %}

